body { font-family: sans-serif arial;  font-size: 80%;}

.baseMarker {
  border:1px solid black;
  position: absolute;
  text-align:center;
  margin: 0px;
  padding: 0px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}


#original_dataset {
	width:100%;
	text-align:center;
}

#map_options {
	width:100%;
	text-align:center;
}
#map_options td {
	padding: 0 10px; 	
}

#map_area {
	display:block;
	height: 800px;
	
}

.map-small{
	width: 400px; 
	height: 300px; 
	margin: 20px auto;
	clear: both;
}

.map-medium{
	width: 700px; 
	height: 550px; 
	margin: 20px auto;
	clear: both;
}

.map-large{
	height: 100%;
	width: 100%;
}

#map_selection{
	margin: 10px auto;
	text-align:center;
	display:block;
}

#map_selector{
	margin: 0px auto;
	display: inline;
	text-align:center;
}
#left-pane{
	display:block;
	float:left;
	background: gray;
	width:30%;
	height:100%;
}


.map-legend{
  position: absolute;
  top: 50px;
  right: 0;
  background: #FFF;
  border: 1px solid black;
  margin:5px;
  padding:5px;
  font-size: 9pt;
}

.map-legend .line {
}

.map-legend .colorbox{
  border: 1px solid black;
  height:1em;
  width: 2em;
  margin:auto 0 ;
  display:inline-block;
  vertical-align: middle;
}

.map-legend .attbox{
  margin:auto 1em ;
  padding: 1px;
  display:inline-block;
  vertical-align: middle;
}

#ma

#searchbox {
	display:block ; 
	background:yellow;
	margin: 10px;
	padding: 5px;

}

#navigation-help {
	display:block;
	margin: 0 auto;
	background:red;
	margin: 10px;
	padding: 5px;
	color:white;
}

#central-pane{
	display:block;
	float:left;
	background: pink;
	width:70%;
	height:100%;
}



#pleasewaitScreen{
	position:absolute;
	z-index:5;
	visibility:hidden;
}

#change-view {
	visibility:hidden;
	display:block;
	padding: 3px 3px 3px 3px;
	margin:2px auto;
	text-align:center;
	width:200px;
}

#footer {
	margin:90px 0px auto auto;
	font-size:80%;
	text-align:center;
}

#task-button {
	display:block;
	text-align:center;
	margin: 0 auto;
}


#controls {
	display: none;
}
